.about-first {
  margin-bottom: clamp(60px, 6.944vw, 100px);
  position: relative;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   background-image: var(--main-gradient);
  //   background-repeat: no-repeat;
  //   width: 1111px;
  //   height: 1056px;
  //   top: 0;
  //   right: 0;
  // }

  &__gradient {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    z-index: -1;

    stop {
      width: 1111px;
      height: 1056px;
      animation: gradientAnimation 30s linear infinite;
    }
  }

  &__gradient-bottom {
    position: absolute;
    display: flex;
    left: 0;
    z-index: -1;

    svg {
      width: 575px;
      height: 981px;
      overflow: visible;

      stop:nth-child(1) {
        stop-color: #BCFB9F;
        animation: changeColor1 20s infinite;
      }

      stop:nth-child(2) {
        stop-color: #224B42;
        animation: changeColor2 20s infinite;
      }

      stop:nth-child(3) {
        stop-color: #607C56;
        animation: changeColor3 20s infinite;
      }

      stop:nth-child(4) {
        stop-color: #0E0C16;
        animation: changeColor4 20s infinite;
      }
    }
  }

  &__icon {
    position: absolute;
    display: flex;
    top: 110px;
    right: 0;

    svg {
      width: clamp(406px, 40.625vw, 585px);
      height: clamp(462px, 45.139vw, 650px);

      .inside-l {
        animation: offset 2s linear forwards;
        stroke-dasharray: 1920px;
        stroke-dashoffset: 1920px;
        animation-delay: 1.5s;
      }
    }

    @media (max-width: 576px) {
      top: 180px;
      right: -50%;

      svg {
        width: clamp(330px, 52.865vw, 406px);
        height: clamp(315px, 60.156vw, 462px);
        // width: 330px;
        // height: 315px;
      }
    }
  }

  .hero__slider {
    margin-top: clamp(30px, 4.167vw, 60px);

    @media (max-width: 1024px) {
      margin-top: 30px;
    }
  }

  &__wrapp {
    padding: clamp(150px, 15.278vw, 220px) 0 clamp(30px, 5.208vw, 100px);
    display: flex;
    flex-direction: column;
    grid-gap: clamp(30px, 3.906vw, 40px);

    @media (max-width: 1024px) {
      padding-top: clamp(130px, 14.648vw, 150px);
    }
  }

  &__title {
    max-width: 540px;
    font-size: clamp(42px, 4.688vw, 48px);
    line-height: 130%;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-transform: none;
  }

  &__descr {
    max-width: clamp(500px, 42.708vw, 615px);
    font-size: clamp(16px, 2.344vw, 18px);
    line-height: 150%;
    font-weight: 400;
    letter-spacing: -0.02em;
  }
}



@keyframes offset {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes gradientAnimation {
  0% {
    stop-color: #BCFB9F;
  }
  25% {
    stop-color: #224B42;
  }
  50% {
    stop-color: #607C56;
  }
  75% {
    stop-color: #0E0C16;
  }
  100% {
    stop-color: #BCFB9F;
  }
}

// .about-first__gradient-bottom svg {
//   overflow: visible;
// }

// .about-first__gradient-bottom svg stop:nth-child(1) {
//   stop-color: #BCFB9F;
//   animation: changeColor1 34s infinite;
// }

// .about-first__gradient-bottom svg stop:nth-child(2) {
//   stop-color: #224B42;
//   animation: changeColor2 34s infinite;
// }

// .about-first__gradient-bottom svg stop:nth-child(3) {
//   stop-color: #607C56;
//   animation: changeColor3 34s infinite;
// }

// .about-first__gradient-bottom svg stop:nth-child(4) {
//   stop-color: #0E0C16;
//   animation: changeColor4 34s infinite;
// }

@keyframes changeColor1 {
  0%, 100% {
    stop-color: #BCFB9F;
  }
  50% {
    stop-color: rgba(255, 0, 255, 1);
  }
}

@keyframes changeColor2 {
  0%, 100% {
    stop-color: #224B42;
  }
  50% {
    stop-color: rgba(255, 0, 255, 1);
  }
}

@keyframes changeColor3 {
  0%, 100% {
    stop-color: #607C56;
  }
  50% {
    stop-color: rgba(255, 255, 0, 1);
  }
}

@keyframes changeColor4 {
  0%, 100% {
    stop-color: #0E0C16;
  }
  50% {
    stop-color: rgba(0, 255, 255, 1);
  }
}
