.about-us {
  margin-bottom: 50px;

  &__wrapp {
    position: relative;
    padding: clamp(40px, 7.813vw, 80px) 20px 87px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: clamp(30px, 3.906vw, 40px);
    border-radius: 16px;
    backdrop-filter: blur(42px);
    background: linear-gradient(180deg, #0e0c16 0%, #0e0c16 100%);

    &::before {
      content: "";
      content: "";
      position: absolute;
      inset: calc(0px - 2px);
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border-radius: 16px;
      padding: 2px;
      background: linear-gradient(180deg, #BCFB9F 0%, rgba(61, 59, 66, 0) 75%);
      -webkit-mask: linear-gradient(#FBF8F3 0 0) content-box, linear-gradient(#FBF8F3 0 0);
      mask: linear-gradient(#FBF8F3 0 0) content-box, linear-gradient(#FBF8F3 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: var(--about-us);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 1273px;
      height: 760px;
      bottom: -50%;
      z-index: -1;

      // @media (max-width: 576px) {
      //   display: none;
      // }
    }
  }

  &__title {
    color: var(--color-green);
  }

  &__descr {
    max-width: 755px;
    font-size: clamp(16px, 1.758vw, 18px);
    line-height: 160%;
    text-align: center;
  }
}
