.apart {
  background-color: var(--color-green-light);
  border-radius: 30px;
  padding: 80px 0 clamp(145px, 16.895vw, 173px);

  &__title {
    margin-bottom: 30px;
    color: var(--color-main-bg);
  }

  &__descr {
    margin-bottom: clamp(30px, 3.906vw, 40px);
    max-width: 475px;
    color: var(--color-main-bg);

    span {
      font-weight: 500;
    }
  }

  &__info {
    margin-bottom: clamp(40px, 4.883vw, 50px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-main-bg);

    @media (max-width: 767px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px 0;
    }

    li {
      display: flex;
      flex-direction: column;
      grid-gap: 15px;

      span {
        font-size: 36px;
        line-height: 100%;
        font-weight: 500;
        letter-spacing: -0.02em;
        text-transform: uppercase;
      }
    }
  }

  &__btn {
    padding: 4px 4px 4px 24px;
    background-color: var(--color-primary);
    border-radius: 100px;
    color: var(--color-main-bg);

    span {
      width: 56px;
      height: 56px;
      background-color: var(--color-green-light);

      svg {
        fill: var(--color-main-bg);
      }
    }

    &:hover {
      span {
        background-color: var(--color-link-hover);
      }
    }
  }
}
