.awards {
  margin-bottom: 100px;
  padding: 80px 0 55px;
  background-color: var(--color-green-light);
  border-radius: 30px;

  &__wrapp {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: var(--color-main-bg);
  }

  &__slider {
    width: 100%;
  }
}
