/* contact__form */
.boosty__form {
	position: relative;
	overflow: hidden;
	padding-top: 95px;
	padding-bottom: 85px;
}
	.boosty__form:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/bg__gg.svg) no-repeat right center;
    right: 0;
		z-index: -1;
		top: -10px;
}
.form__cover{
	display: flex;
}
.form__text {
	width: 50%;
	background: url(../images/bg-connect-content.svg) no-repeat left/350px;
}
	.form__text p{
    padding: 25px 0 50px;
    font-family: var(--font-inter-regular);
    font-size: 16px;
    line-height: 25px;
    color: rgba(251, 248, 243, 0.7);
    width: 70%;
	}
.form__line {
	height: 1px;
	background: #FBF8F34D;
	position: relative;
}
	.form__line:before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #BCFB9F;
    right: -3px;
    top: -2px;
}
.call__element {
	display: inline-block;
	font-size: 0;
	text-decoration: none;
	line-height: 65px;
	font-size: 0;
	padding: 0 80px 0 0;
	color: #BCFB9F;
	position: relative;
	transition: color 0.3s ease;
}
	.call__element span{
	background: none;
	border: 0;
	color: #BCFB9F;
	cursor: pointer;
	font-size: 16px;
	}
			.call__element span:hover {
			color: #ffff;
			}
				.call__element:after {
						content: '';
						display: block;
						position: absolute;
						right: 0;
						top: 0;
						width: 60px;
						height: 60px;
						border-radius: 50%;
						background: #BCFB9F url(../images/icon-phone.svg) no-repeat center center;
						transition: background-color 0.3s ease, transform 0.3s ease;
				}
					.call__element:hover:after {
			transform: translateX(4px);
			background-color: #fff;
			}
.contact__form {
	width: 50%;
	z-index: 3;
}
.form__content {
		border-radius: 24px;
    box-sizing: border-box;
    padding: 40px 100px 80px;
    background-color: #26242F4D;
}
form{
	border-radius: 24px;
	box-sizing: border-box;
	padding: 49px 60px 80px;
	background-color: #26242F4D;
}
.text-input.choice{
	flex-flow: column;
	padding-bottom: 15px;
}
	.text-input.choice span{
		color: #FBF8F380;
		font-size: 14px;
		font-family: var(--font-twk-everet-regular);
		padding: 20px 2px 15px 0;
	}
#selectbox,#selectbox1{
	border: 0;
	background: none;
	border-bottom: 1px solid #FBF8F366;
	width: 100%;
	color:#FBF8F3;
	font-size: 15px;
	font-family: var(--font-twk-everet-regular);
	outline: none;
	padding-bottom: 10px;
	line-height: 50px;
}
	#selectbox option,#selectbox1 option{
    background: #000001;
    color: #FBF8F380;
		outline: none;
		line-height: 50px;
	}

.text-input {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
.text-input > input {
  background: none;
  color: inherit;
  border: none;
  border-bottom: 1px solid #FBF8F366;
  margin-bottom: 20px;
  padding: 14px 0;
  outline: none;
	font-family: var(--font-twk-everet-regular);
	font-size: 16px;
}

.text-input > input + label {
  transform: translateY(0);
  transition: transform .2s;
  pointer-events: none;
  color:#FBF8F380;
	font-size: 14px;
	font-family: var(--font-twk-everet-regular);
}
.text-input > input:placeholder-shown + label {
  transform: translateY(1rem);
}
.text-input > input:focus + label {
	transform: translateY(0);
}
	.text-input > input:focus {
		color: #FBF8F3;
		transform: translateY(0);
		border-bottom: 1px solid #BCFB9F;
	}

	.contact-form-controls-attach-btn {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    background: #1B1922 url(../images/icon-clip.svg) no-repeat center center;
    transition: background-color 0.3s ease;
}
.contact-form-controls-attach {
	display: block;
	width: 80px;
	height: 80px;
	opacity: 0;
	visibility: hidden;
}
.contact-form-controls {
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contact-form-controls button {
	cursor: pointer;
	display: block;
	background: transparent;
	border: none;
	outline: none;
	height: 60px;
	line-height: 60px;
	font-size: 0;
	position: relative;
	padding-right: 80px;
	color: #BCFB9F;
	transition: color 0.3s ease;
}
	.form__btn :hover span {
		color: #fff;
	}
 .contact-form-controls button:hover:after {
		background-color: #fff;
    transform: translateX(4px);
	}
	.contact-form-controls-attach-btn:hover {
    background-color: #433d57;
}
.contact-form-controls button:after {
	content: '';
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top: 0;
	background: #BCFB9F url(../images/icon-arrow-right-dark.svg) no-repeat center center;
	transition: background-color 0.3s ease, transform 0.3s ease;
}
	.contact-form-controls button span {
		font-size: 15px;
		color: #BCFB9F;
		font-family: var(--font-twk-everet-medium);
	}
.form__content input:focus {
padding-bottom: 50px;
}
/* contact__formEnd */
