.feedbacks {
  margin-bottom: clamp(80px, 9.766vw, 100px);

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__controls {
    .controls__btn {
      background-color: transparent;
      border: 1px solid #424046;

      svg {
        fill: var(--color-white);
      }

      &:hover {
        background-color: var(--color-green);
        border: 1px solid transparent;

        svg {
          fill: #0e0e11;
        }
      }
    }
  }

  &__slider {
    margin-top: 40px;
    width: 100%;
    padding-left: 20px;
  }

  &__slide {
    max-width: 800px;
    height: auto;

    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
}
