.first {
  margin-bottom: clamp(80px, 9.766vw, 100px);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: var(--main-gradient);
    background-repeat: no-repeat;
    width: 1111px;
    height: 1056px;
    top: 0;
    right: 0;

    @media (max-width: 576px) {
      display: none;
    }
  }

  &__wrapp {
    padding: clamp(135px, 19.531vw, 150px) 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: clamp(30px, 4.395vw, 45px);

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__image {
    display: flex;
    max-width: clamp(270px, 52.083vw, 400px);
    width: 100%;
    flex-shrink: 0;
  }

  &__info {
    max-width: 660px;
    display: flex;
    flex-direction: column;
    grid-gap: clamp(30px, 3.906vw, 40px);
  }

  &__title {
    max-width: 540px;
    font-size: clamp(42px, 4.688vw, 48px);
    line-height: 130%;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-transform: none;
  }

  &__descr {
    line-height: 160%;
  }

  &__btn {
    span {
      width: 64px;
      height: 64px;
      background-color: var(--color-green);

      svg {
        fill: var(--color-main);
      }
    }
  }
}
