header {
  width: 100%;
  position: absolute;
  padding: 20px 0;
  background-color: transparent;
  z-index: 20;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    position: relative;
    z-index: 20;
  }

  &__menu {
    display: flex;
    align-items: center;
    grid-gap: 37px;
    margin-left: 52px;

    a {
      transition: color 0.3s ease;

      &:hover {
        color: var(--color-link-hover);
      }
    }

    @media (max-width: 768px) {
      margin-left: 0;
      display: none;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }

  &__btn {
    position: relative;
    grid-gap: 12px;
    z-index: 20;

    @media (max-width: 992px) {
      p {
        display: none;
      }
    }
  }

}



