.hero {
  position: relative;
  padding: 150px 0 40px;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    background-image: var(--main-gradient);
    background-repeat: no-repeat;
    width: 1291px;
    height: 791px;
    width: 1111px;
    height: 1056px;
    top: 0;
    right: 0;
  }

  &::after {
    content: '';
    position: absolute;
    background-image: var(--boosty-icon);
    background-size: cover;
    background-repeat: no-repeat;
    width: 764px;
    height: 490px;
    top: 0;
    right: clamp(40px, 9.861vw, 142px);
    // left: 530px;
  }

  &__title {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0 60px;

    span {
      display: flex;
      align-items: center;
      grid-gap: 5px;
    }

    svg {
      width: 131px;
      height: 77px;
      width: clamp(85px, 12.793vw, 131px);
      height: clamp(50px, 7.52vw, 77px);
    }
  }

  &__subtitle {
    margin-bottom: clamp(30px, 3.906vw, 40px);
  }

  &__descr {
    display: block;
    margin-bottom: 40px;
    max-width: 680px;
    font-family: var(--font-family-inter);
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    letter-spacing: -0.02em;

    span {
      font-weight: 700;
      color: var(--color-green);
    }
  }

  &__btn {
    padding: 4px 4px 4px 24px;
    background-color: var(--color-primary);
    border-radius: 100px;
    color: var(--color-main-bg);

    span {
      background-color: var(--color-main-bg);
      width: 56px;
      height: 56px;

      svg {
        fill: var(--color-primary);
      }
    }

    &:hover {
      span {
        background-color: var(--color-link-hover);
      }
    }
  }

  &__slider {
    margin-top: clamp(40px, 5.859vw, 60px);
  }

  &__slider-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }

  &__slide {
    height: clamp(80px, 9.766vw, 100px);
    width: clamp(168px, 20.605vw, 211px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
