.history {
  margin-bottom: clamp(80px, 9.766vw, 100px);

  &__title {
    margin-bottom: 60px;
  }

  &__slider {
    width: 100vw;
  }

  &__wrapper {
    width: 100%;
    // padding-right: 550px;
    display: flex;
  }

  &__slide {
    max-width: 550px;
    width: 100%;

    &.swiper-slide-active {
      .history__icon svg {
        .green {
          fill: var(--color-green);
        }
      }

      .history__year {
        color: var(--color-green);
      }
    }

    &:last-child {
      max-width: 100%;
      width: 100%;
      justify-content: flex-start;
    }
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }

  &__icon {
    position: relative;
    display: flex;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 3px;
      border-top: 3px solid #454249;
      z-index: -1;
    }
  }

  &__year {
    font-size: clamp(80px, 9.766vw, 100px);
    line-height: 100%;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--color-green);
    color: #48464C;
  }

  &__text {
    max-width: 350px;
    width: 100%;
    font-size: 18px;
    line-height: 160%;

    p + p {
      margin-top: 20px;
    }
  }
}


.scroll {
  width: 100vw !important;
  height: 343px !important;
}

.box {
  width: 300%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  grid-gap: 250px;
}
