.mobile {
  position: fixed;
  z-index: 5;
  top: -100%;
  right: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 10px);
  backdrop-filter: blur(30px);
  background-color: rgba(14, 12, 22, 0.8);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s ease;


  &.active {
    display: block;
    top: 5px;

    ul {
      opacity: 1;
      visibility: visible;
    }
  }

  &__menu {
    padding: 105px 65px;

    ul {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 40px;
      opacity: 0;
      visibility: hidden;
    }
  }
}
