.products {
  margin-bottom: clamp(80px, 9.766vw, 100px);

  &__title {
    color: var(--color-green);

    @media (max-width: 767px) {
      br {
        display: none;
      }
    }
  }

  &__lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__list {
    min-height: clamp(178px, 15.278vw, 220px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--color-primary);

    &:nth-child(-n+3) {
      border-top: 1px solid transparent;
    }

    &-image {
      display: flex;
    }

    @media (max-width: 1024px) {
      &:first-child {
        align-items: center;
        justify-content: flex-start;
      }
    }

    @media (max-width: 767px) {
      min-height: clamp(95px, 23.177vw, 178px);

      picture,
      img {
        width: 50%;
        height: 50%;
      }
    }
  }

  &__btn {
    margin: 40px auto 0;
    padding: 4px 4px 4px 24px;
    border-radius: 100px;
    background-color: var(--color-green);
    color: var(--color-main-bg);

    span {
      width: 56px;
      height: 56px;
      background-color: var(--color-main-bg);

      svg {
        fill: var(--color-green);
      }
    }

    &:hover,
    &:active {
      color: var(--color-link-hover);

      span {
        background-color: var(--color-link-hover);
      }

      svg {
        fill: var(--color-main);
      }
    }
  }
}
