.reasons {
  margin-bottom: clamp(80px, 9.766vw, 100px);

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__slider {
    margin-top: 40px;
    margin-left: -80px;
    width: calc(100% + 80px);

    @media (max-width: 1024px) {
      width: 100%;
      margin-left: 0;
      padding: 0 clamp(20px, 3.906vw, 40px);
    }
  }

  &__slide {
    max-width: 380px;
    height: auto;
  }
}
