.technologies {
  margin-bottom: clamp(80px, 9.766vw, 100px);

  &__wrapp {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px 25px;
    }
  }

  &__item {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;

    @media (max-width: 576px) {
      height: 80px;

      picture,
      img {
        height: 80%;
        width: 80%;
        object-fit: contain;
      }
    }
  }
}
