.technologies {
  margin-bottom: clamp(80px, 9.766vw, 100px);

  &__wrapp {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
  }
}
