.technologies {
  position: relative;
  margin-bottom: clamp(80px, 9.766vw, 100px);

  &::before {
    content: "";
    position: absolute;
    background-image: var(--main-gradient-v3);
    background-size: cover;
    right: 0;
    width: clamp(867px, 71.111vw, 1024px);
    height: 1517px;
    z-index: -1;
  }

  &__wrapp {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px 25px;
    }
  }

  &__item {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;

    @media (max-width: 576px) {
      height: 80px;

      picture,
      img {
        height: 80%;
        width: 80%;
        object-fit: contain;
      }
    }
  }
}
