.visionair {
  position: relative;
  margin-bottom: clamp(80px, 9.766vw, 100px);

  &__bg {
    position: absolute;
    overflow: hidden;
    inset: 0;
    top: -150px;

    &::before {
      content: '';
      position: absolute;
      background-image: var(--main-gradient-v2);
      width: 1219px;
      height: 1179px;
      top: -50%;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  &__wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 100px;
  }

  &__top {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 40px;
  }

  &__title {
    text-align: center;
  }

  &__descr {
    max-width: 670px;
    width: 100%;
    font-size: clamp(16px, 2.344vw, 18px);
    line-height: 150%;
    text-align: center;
  }

  &__details {
    position: relative;
    padding-left: clamp(60px, 5.556vw, 80px);
    padding-right: 30px;
    background-color: rgba(251, 248, 243, 0.1);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    // grid-gap: 30px;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      background-image: var(--bosty-icon-v3);
      background-size: cover;
      background-repeat: no-repeat;
      width: 535px;
      height: 445px;
      top: 0;
      left: 630px;
    }

    @media (max-width: 1024px) {
      padding-right: 0;
    }

    @media (max-width: 992px) {
      padding: 40px 30px 0;
      flex-direction: column;
      grid-gap: 20px;

      &::before {
        background-image: var(--bosty-icon-v3-mob);
        top: initial;        height: 324px;
        width: clamp(290px, 39.974vw, 307px);
        height: clamp(275px, 42.188vw, 324px);
        left: initial;
        right: 0;
        bottom: 0;
      }
    }
  }

  &__info {
    max-width: 499px;
    padding: 100px 0;

    @media (max-width: 992px) {
      max-width: 100%;
      padding: 0;
    }
  }

  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: flex-end;

    @media (max-width: 1240px) {
      padding-right: 0;
    }

    picture,
    img {
      width: 100%;
      // height: 100%;
    }
  }


  &__name {
    margin-bottom: 10px;
    color: var(--color-green);
  }

  &__position {
    display: block;
    margin-bottom: 40px;
  }
}
