<footer>
  <div class="container">
    <div class="footer">
      <div class="footer__top">
        <div class="footer__top-info">
          <a class="footer__logo logo" href="/">
            <svg width='109' height='30'>
              <use href='img/sprite/sprite.svg#logo'></use>
            </svg>
          </a>

          <p>Copyrights are reserved. All works are protected by copyright of the corresponding authors.</p>
        </div>

        <div class="footer__top-contacts">
          <ul class="footer__socials">
            <li>
              <a href="#">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#facebook'></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#linkedin'></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#twitter'></use>
                </svg>
              </a>
            </li>
          </ul>

          <div class="footer__contacts">
            <button class="footer__btn btn">
              <p>Book a call</p>

              <span class="icon">
                <svg width='22' height='22'>
                  <use href='img/sprite/sprite.svg#smartphone'></use>
                </svg>
              </span>
            </button>

            <a class="footer__phone" href="tel:+380734811488">+380734811488</a>
          </div>
        </div>

        <div class="footer__top-nav">
          <div class="footer__nav">
            <div class="h4">Services</div>

            <ul class="footer__nav-list">
              <li>
                <a href="https://boostylabs.com/fintech">Fintech</a>
              </li>
              <li>
                <a href="#">Martech</a>
              </li>
              <li>
                <a href="#">DevOps</a>
              </li>
              <li><a href="#">
                Manual QA</a>
              </li>
              <li>
                <a href="#">Auto QA</a>
              </li>
              <li>
                <a href="#">Team augmentation</a>
              </li>
              <li>
                <a href="#">Growth</a>
              </li>
              <li>
                <a href="#">Team extension</a>
              </li>
              <li>
                <a href="#">Neo banking</a>
              </li>
              <li>
                <a href="#">Embedded</a>
              </li>
              <li>
                <a href="#" class="footer-link-more">More</a>
              </li>
            </ul>
          </div>

          <div class="footer__nav">
            <div class="h4">Mobile</div>

            <ul class="footer__nav-list">
              <li>
                <a href="https://boostylabs.com/fintech">Fintech</a>
              </li>
              <li>
                <a href="#">Martech</a>
              </li>
              <li>
                <a href="#">DevOps</a>
              </li>
              <li><a href="#">
                Manual QA</a>
              </li>
              <li>
                <a href="#">Auto QA</a>
              </li>
              <li>
                <a href="#">Team augmentation</a>
              </li>
              <li>
                <a href="#">Growth</a>
              </li>
              <li>
                <a href="#">Team extension</a>
              </li>
              <li>
                <a href="#">Neo banking</a>
              </li>
              <li>
                <a href="#">Embedded</a>
              </li>
              <li>
                <a href="#" class="footer-link-more">More</a>
              </li>
            </ul>
          </div>

          <div class="footer__nav">
            <div class="h4">Machine learning & AI</div>

            <ul class="footer__nav-list">
              <li>
                <a href="https://boostylabs.com/fintech">Fintech</a>
              </li>
              <li>
                <a href="#">Martech</a>
              </li>
              <li>
                <a href="#">DevOps</a>
              </li>
              <li><a href="#">
                Manual QA</a>
              </li>
              <li>
                <a href="#">Auto QA</a>
              </li>
              <li>
                <a href="#">Team augmentation</a>
              </li>
              <li>
                <a href="#">Growth</a>
              </li>
              <li>
                <a href="#">Team extension</a>
              </li>
              <li>
                <a href="#">Neo banking</a>
              </li>
              <li>
                <a href="#">Embedded</a>
              </li>
              <li>
                <a href="#" class="footer-link-more">More</a>
              </li>
            </ul>
          </div>

          <div class="footer__nav">
            <div class="h4">Blockchain</div>

            <ul class="footer__nav-list">
              <li>
                <a href="https://boostylabs.com/fintech">Fintech</a>
              </li>
              <li>
                <a href="#">Martech</a>
              </li>
              <li>
                <a href="#">DevOps</a>
              </li>
              <li><a href="#">
                Manual QA</a>
              </li>
              <li>
                <a href="#">Auto QA</a>
              </li>
              <li>
                <a href="#">Team augmentation</a>
              </li>
              <li>
                <a href="#">Growth</a>
              </li>
              <li>
                <a href="#">Team extension</a>
              </li>
              <li>
                <a href="#">Neo banking</a>
              </li>
              <li>
                <a href="#">Embedded</a>
              </li>
              <li>
                <a href="#" class="footer-link-more">More</a>
              </li>
            </ul>
          </div>

          <ul class="footer__menu">
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Outstaffing</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>

      <div class="footer__features">
        <div class="footer__feature">
          <div class="h4">Industries</div>

          <ul class="footer__feature-list">
            <li>
              <span>Affiliate marketing</span>
            </li>
            <li>
              <span>Gambling</span>
            </li>
            <li>
              <span>Betting</span>
            </li>
            <li>
              <span>Trading</span>
            </li>
            <li>
              <span>Retail</span>
            </li>
            <li>
              <span>Telecom</span>
            </li>
            <li>
              <span>Media</span>
            </li>
            <li>
              <span>Manufacturing</span>
            </li>
            <li>
              <span>Insurance</span>
            </li>
            <li>
              <span>Healthcare</span>
            </li>
            <li>
              <span>Finance</span>
            </li>
            <li>
              <span>Education</span>
            </li>
            <li>
              <span>Automotive</span>
            </li>
            <li>
              <span>Agriculture</span>
            </li>
            <li>
              <span>Logistics</span>
            </li>
            <li>
              <span>Marketplace</span>
            </li>
            <li>
              <span>Hospitality</span>
            </li>
            <li>
              <span>Oil & Gas</span>
            </li>
            <li>
              <span>Real estate</span>
            </li>
            <li>
              <span>IoT</span>
            </li>
            <li>
              <span>Computer vision</span>
            </li>
            <li>
              <span>AR/VR</span>
            </li>
            <li>
              <span>V2V</span>
            </li>
            <li>
              <span>Casino software</span>
            </li>
            <li>
              <span>Legaltech</span>
            </li>
            <li>
              <span>Aerospace</span>
            </li>
            <li>
              <span>Military</span>
            </li>
          </ul>
        </div>

        <div class="footer__feature">
          <div class="h4">Technologies</div>

          <ul class="footer__feature-list">
            <li>
              <span>.Net</span>
            </li>
            <li>
              <span>Node.js</span>
            </li>
            <li>
              <span>JavaScript</span>
            </li>
            <li>
              <span>TypeScript</span>
            </li>
            <li>
              <span>PHP</span>
            </li>
            <li>
              <span>Python</span>
            </li>
            <li>
              <span>Angular</span>
            </li>
            <li>
              <span>Vue.js</span>
            </li>
            <li>
              <span>Yii</span>
            </li>
            <li>
              <span>FrontEnd</span>
            </li>
            <li>
              <span>SDET</span>
            </li>
            <li>
              <span>WPF</span>
            </li>
            <li>
              <span>C#</span>
            </li>
            <li>
              <span>Electron</span>
            </li>
            <li>
              <span>GraphQL</span>
            </li>
            <li>
              <span>Elixir</span>
            </li>
            <li>
              <span>Erlang</span>
            </li>
            <li>
              <span>Backend</span>
            </li>
            <li>
              <span>Java</span>
            </li>
            <li>
              <span>Swift</span>
            </li>
            <li>
              <span>Xamarin</span>
            </li>
            <li>
              <span>Kotlin</span>
            </li>
            <li>
              <span>React Native</span>
            </li>
            <li>
              <span>Objective-C</span>
            </li>
            <li>
              <span>Solidity</span>
            </li>
            <li>
              <span>Golang</span>
            </li>
            <li>
              <span>Rust</span>
            </li>
            <li>
              <span>C++</span>
            </li>
            <li>
              <span>Scala</span>
            </li>
            <li>
              <span>Substrate</span>
            </li>
            <li>
              <span>Clarity</span>
            </li>
            <li>
              <span>Motoko</span>
            </li>
            <li>
              <span>Cadence</span>
            </li>
            <li>
              <span>Babylon.JS</span>
            </li>
            <li>
              <span>Sway</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__supports">
        <div class="h4">Supported Blockchains</div>

        <div class="footer__supports-lists">
          <ul>
            <li><a href="#">Ethereum</a></li>
            <li><a href="#">Polkadot</a></li>
            <li><a href="#">IBM foundation</a></li>
            <li><a href="#">Hyperledger</a></li>
            <li><a href="#">Binance Chain</a></li>
            <li><a href="#">Huobi Chain</a></li>
          </ul>

          <ul>
            <li><a href="#">Ethereum</a></li>
            <li><a href="#">Polkadot</a></li>
            <li><a href="#">IBM foundation</a></li>
            <li><a href="#">Hyperledger</a></li>
            <li><a href="#">Binance Chain</a></li>
            <li><a href="#">Huobi Chain</a></li>
          </ul>

          <ul>
            <li><a href="#">Ethereum</a></li>
            <li><a href="#">Polkadot</a></li>
            <li><a href="#">IBM foundation</a></li>
            <li><a href="#">Hyperledger</a></li>
            <li><a href="#">Binance Chain</a></li>
            <li><a href="#">Huobi Chain</a></li>
          </ul>

          <ul>
            <li><a href="#">Ethereum</a></li>
            <li><a href="#">Polkadot</a></li>
            <li><a href="#">IBM foundation</a></li>
            <li><a href="#">Hyperledger</a></li>
            <li><a href="#">Binance Chain</a></li>
            <li><a href="#">Huobi Chain</a></li>
          </ul>

          <ul>
            <li><a href="#">Ethereum</a></li>
            <li><a href="#">Polkadot</a></li>
            <li><a href="#">IBM foundation</a></li>
            <li><a href="#">Hyperledger</a></li>
            <li><a href="#">Binance Chain</a></li>
            <li><a href="#">Huobi Chain</a></li>
          </ul>

          <ul>
            <li><a href="#">Ethereum</a></li>
            <li><a href="#">Polkadot</a></li>
            <li><a href="#">IBM foundation</a></li>
            <li><a href="#">Hyperledger</a></li>
            <li><a href="#">Binance Chain</a></li>
            <li><a href="#">Huobi Chain</a></li>
          </ul>
        </div>
      </div>

      <div class="footer__seo">
        <h2>IT Outsourcing Company</h2>

        <div class="footer__seo-block">
          <div class="footer__seo-text">
            <p>
              We founded Boosty Labs four years ago, at the end of 2017.
              Before founding Boosty Labs, my project team and I created
              several fintech startups. We launched eight startups. Three
              were successful; the other five, unfortunately, were not.
              We have learned a lot from this experience.
            </p>
            <p>
              The first major customer was Storj, one of the world's
              largest decentralized cloud storage solutions. At that
              time, our team was perhaps the only one in the world that
              understood how a decentralized cloud storage network works.
              We did a couple of successful projects and realized that it
              made sense to continue to cooperate.
            </p>
            <p>
              Then, we began to scale the model, within which companies
              working in the field of cryptocurrencies and decentralized
              systems completely trusted us and gave us the management
              of certain segments of their business or their products.
              Or these companies asked us to find and hire developers,
              including those with exotic expertise in the field of
              rare technologies, or they asked us to hire standard
              developers, but in great numbers and in a short time.
            </p>
            <p>
              The out-staffing, team extension and entrepreneur residence
              model has proven itself successful for us. With this model,
              we serve clients such as ConsenSys, Storj, NEM, Affinidi
              Group, Bloom Protocol and Onomy Protocol. We also have used
              this model with crypto projects, both well-known and anonymous.
              In addition, we pioneered the DeFiindustry with the successful
              DuckDAO project.
            </p>
            <p>
              What services do we offer? We have two key models for customer
              engagement. The first, the most popular and basic one for our
              business, is the so-called out stuffing, team extension,
              entrepreneur residence model and IT outsourcing. These
              expressions mean essentially the same thing. This service
              implies that a client comes to us with clear wishes about
              who he or she needs – frontend developers, backend developers,
              Go or UJS technology specialists and so on. The client may
              need someone who knows how to work with rare tools.
            </p>
            <p>
              We collect all these requirements and start searching in
              the developer community. As a rule, we give the client the
              first results five to six days after we start work; the
              maximum search takes two to three weeks. Unlike a recruitment
              company, we do not charge money for finding a candidate and
              hiring the candidate. We put a small commission on the
              candidate's salary. When we hire a candidate, we sign a
              contract with the client, which indicates the number of
              developers who work for the client through our company.
              Thus, from a legal point of view, our candidates are
              subcontractors of our clients, and we are the contractors.
            </p>
          </div>

          <div class="footer__seo-text">
            <p>
              Our company is registered in the US, which is convenient for
              clients all over the world. We pay all operational expenses
              of the client, all taxes and all expenses for computers and
              equipment, etc. The client only pays a monthly amount, which
              is often less than the developer's salary in the markets of
              the USA, Europe, Japan and South Korea. Unlike us, many
              companies sell hourly developer work. We don’t do this as a
              rule. We are paid a monthly fee for one employee, and that
              employee is engaged in one project in order to immerse
              themselves in it as much as possible and become part of the
              project team.
            </p>
            <p>
              Often, our people are introduced to an existing team. As a
              rule, it is difficult for employees to integrate into a
              culture that is unknown to them, so we study potential
              candidates, trying to understand whether our person will be
              able to work for our client and in the client’s culture.
              This is an important factor, along with a candidate’s
              professional qualities. Thus, we form teams for crypto
              companies. There is a significant demand for such
              specialists now, and it is not that easy to find good
              employees. We also train specialists – we fill in their
              knowledge gaps.
            </p>
            <p>
              The world's leading companies work with us. This means that
              we can transfer people from one project to another. For
              example, when our team has ended working with the ConsenSys
              project, we offer a certain company this team in full, which
              the company could only dream of, since all these people
              are high-level professionals.
            </p>
            <p>
              Often, it is impossible to lure people working for ConsenSys
              even with a lot of money, but we give the opportunity to
              hire a whole group of people who have experience working on
              this project. This attracts clients to us because they can
              be sure that we have the best team in one area or another.
              In principle, the market for blockchain projects is as open
              as possible, since it is fundamentally open source.
            </p>
            <p>
              Nevertheless, our priority is good relations with the client.
              Therefore, if we are working for a certain project, and a
              competitor of this project comes to us with an offer to work
              for them, then we can go for it, but only on the condition
              that our client has nothing against it.
            </p>
          </div>
        </div>
      </div>
    </div>
</footer>
