<header>
  <div class="container">
    <div class="header">
			<a class="header__logo logo" href="/">
        <svg width='109' height='30'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
			</a>

			<ul class="header__menu">
				<li><a href="#">About</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Outstaffing</a></li>
			</ul>

      <button class="header__btn btn">
        <p>Book a call</p>

        <span class="icon">
          <svg width='22' height='22'>
            <use href='img/sprite/sprite.svg#smartphone'></use>
          </svg>
        </span>
      </button>

      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="mobile">
        <div class="mobile__menu"></div>
      </div>
    </div>
  </div>
</header>

