<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Boosty Labs</title>
  <meta name="Description" content="IT Outsourcing Company">
  <link href="img/favicon.ico" rel="icon"/>
  <link rel="preload" href="fonts/TWKEverett-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/TWKEverett-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Inter-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Inter-Bold.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
