.award {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;

  &__image {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    padding: 0 10px;
    color: var(--color-main-bg);
    text-align: center;
  }
}
