:root {
  /* -- Fonts --*/
  --font-family-inter: "Inter", sans-serif; // var(--font-family-inter);
  --font-family-twk: "TWKEverett", sans-serif; // var(--font-family-twk);

  /* -- Colors --*/
  --color-black: #000000; // var(--color-black);
  --color-white: #ffffff; // var(--color-white);
  --color-green: #BCFB9F; // var(--color-green);
  --color-green-light: #C7D8C5; // var(--color-green-light);
  --color-yellow: #FFDE46; // var(--color-yellow);

  --color-primary: #fbf8f3; // var(--color-primary);

  --color-main: #16141E; // var(--color-main);
  --color-main-bg: #0E0C16; // var(--color-main-bg);


  --color-link-hover: #aca9a5; // var(--color-link-hover);





}








